body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPage {
  height: 600px;
}

#canvasID {
  height: 150%;
}
canvas {
  width: 725px;
  height: 250px;
  position: fixed;
  bottom: 400px;
}

#avatarLogo {
  position: relative;
  top: -301px;
}
#titleSec {
  position: relative;
  bottom: 293px;
}

#nameInput {
  position: relative;
  bottom: 270px;
}
#checkOut {
  position: relative;
  bottom: 250px;
}

#backGroundImage {
  background-image: url('./Assets/tshirt.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.tshirtRow {
  height: 1200px !important;
}
